.cart-items-container {

}

.delivery-header{
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;;
  display: flex;
  gap: 2rem;
  align-items: center;
  padding-left: 1rem;
}

.Select-all-box{
  width: 1.5rem;
  height: 1.5rem;
}




.item-image{
  width: 15rem;
  height: 15rem;
  border: 1px solid #ccc;
}

.item-details p{
  line-height: 4rem;
}

.price{
  color: #3b3c4b;
  font-weight: bold;
}

.update-quantity-container{
  display: flex;
  flex-direction: row;
  gap: 3rem;
  justify-content: center;
  align-items: center;
}

.update-qty-button{
  border: 1px solid #545252;
  padding: .2rem 1.3rem;
}

.qty-input{
  width: 6.5rem;
  text-align: center;
  border: 1px solid #c9c1c1;
  padding: 1rem;
  font-size: 1.8rem;
}

.noCart{
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
}